body.page__home
    .hero
        .content
            align-items: center
            display: flex
            flex-direction: column-reverse
            text-align: center
            .hero-text
                text-align: center
                width: 100%
            > figure
                width: columns(12)
            .btn
                @include icon(arrow-right, after)
                    margin-left: $spacing-1
                background-color: $color-background
                color: $color-accent
                &:hover
                    background-color: $color-text
                    border-color: $color-text
                    color: $color-background
            @include media-breakpoint-up(desktop)
                > figure
                    width: columns(7)
                .hero-text
                    h1
                        font-size: pxToRem(124)
                    .lead
                        width: 68ch
                        margin: 0 auto
    .block-chapter
        .chapter
            a:not(.glightbox)
                @include hover-translate-icon
                @include icon(arrow-right, after)
                    margin-left: $spacing-1
                text-decoration: none
        &--with-image
            .chapter
                flex-direction: row-reverse
        &:not(.block-chapter--alt_background, .block-chapter--accent_background)
            .chapter
                .text
                    display: flex
                    flex-direction: column-reverse
                .notes
                    margin-bottom: $spacing-2
                    p, i
                        font-family: $h1-font-family
                        font-size: pxToRem(36)
                        line-height: 120%
        &--accent_background
            .chapter
                .rich-text
                    font-family: $h1-font-family
            .top
                .block-title
                    @include h6
            &.block-chapter--with-image
                .block-content
                    width: unset !important
                    .chapter
                        flex-direction: column-reverse
                        > *
                            margin-left: auto
                            margin-right: auto
                        .text
                            order: unset
                    figure
                        a
                            margin-top: 0
                    .rich-text
                        margin-top: $spacing-3
                        p
                            font-family: $h1-font-family
                        a
                            @extend .btn
                            @include icon(arrow-right, after)
                                margin-left: $spacing-1
                            @extend .btn
                            background: $block-call-to-action-button-background
                            color: $block-call-to-action-button-color
                            display: block
                            margin-left: auto
                            margin-right: auto
                            margin-top: $spacing-4
                            width: max-content
                            &:hover
                                background: $block-call-to-action-button-hover-background
            @include media-breakpoint-up(desktop)
                &.block-chapter--with-image
                    + .block-chapter--with-image
                        padding-top: 0
                    .block-content
                        margin-left: auto
                        margin-right: auto
                        width: columns(6)
                        .text
                            width: columns(6)
                        figure
                            width: columns(8)
                        a:not(.glightbox)
                            margin-top: $spacing-5
                        .rich-text
                            margin-top: $spacing-5
                            p
                                font-size: pxToRem(32)
                                line-height: pxToRem(40)
                &:not(.block-chapter--with-image)
                    .chapter
                        .text
                            width: 100%
                        .rich-text
                            font-size: pxToRem(48)
                            line-height: pxToRem(57.6)
                        .notes
                            *
                                font-size: pxToRem(28)
                                line-height: 180%
    .block-image
        .image-landscape
            margin-left: auto
            margin-right: auto
            width: columns(8)
    .block-testimonials
        figure
            display: flex
            flex-direction: column-reverse
            text-align: center
            gap: $spacing-3
        figcaption
            text-transform: uppercase
        figure,
        figcaption
            margin-left: auto
            margin-right: auto
        + .block-chapter--accent_background.block-chapter--with-image
            i
                color: $color-accent
        @include media-breakpoint-up(desktop)
            blockquote p
                font-size: pxToRem(96)
                line-height: pxToRem(86.4)
            figure
                padding-right: 0 !important
                width: columns(7)
            + .block-chapter--accent_background.block-chapter--with-image
                padding-top: 0
        @include media-breakpoint-down(desktop)
            blockquote p
                font-size: $h1-size

