.hero
    .content
        .btn
            transition: background .3s ease, color .3s ease, border .3s ease
            &:hover
                border: $btn-hover-border
        figure
            figcaption
                color: $hero-credit-color
    .content h1
        > span
            color: inherit

.organization
    .media 
        img
            mix-blend-mode: multiply

.events__page 
    .hero 
        h1 
            span
                color: white
                font-style: italic


