$color-accent: #C10B25
$color-text: #262B36
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF

$heading-font-family: "Inter", sans-serif
$body-font-family: $heading-font-family

// headings
$h1-font-family: "Newsreader", serif
$h1-line-height: 100%
$h1-weight: 300
$h1-size-desktop: pxToRem(72)
$h1-size: pxToRem(36)
$h4-weight: normal
$h4-size-desktop: pxToRem(24)
$h6-size-desktop: pxToRem(20)
$h6-weight: bold

// h5 or Section
$h5-font-family: $h1-font-family
$h5-size-desktop: pxToRem(32)
$h5-weight: normal
$h5-text-transform: normal

$lead-hero-size: pxToRem(20)
$lead-hero-size-desktop: pxToRem(24)
$lead-hero-line-height: 150%
$lead-hero-line-height-desktop: $lead-hero-line-height
$body-size-desktop: pxToRem(22)
$quote-font-family: "Newsreader", serif
$quote-size-desktop: pxToRem(32)
$quote-size-desktop-short: $quote-size-desktop
$quote-size-desktop-long: $quote-size-desktop
$quote-weight: 300

$header-background: $color-accent
$header-sticky-background: $color-accent
$header-color: $color-background
$header-logo-height: 40px
$header-logo-height-desktop: 60px
$header-border-bottom-width: 0
$header-dropdown-full: true

$hero-color: $color-background
$hero-background-color: $color-accent

$footer-background-color: $color-accent
$footer-color: $color-background
$footer-logo-height-desktop: pxToRem(130)
$footer-logo-height: pxToRem(80)

// Breadcrumb
$breadcrumb-icon-color: $hero-color

// Button
$btn-text-transform: uppercase
$btn-color: white
$btn-hover-color: white
$btn-hover-background: $color-text
$btn-border: pxToRem(1) solid white
$btn-hover-border: pxToRem(1) solid $btn-hover-background
$btn-padding-desktop: pxToRem(16) pxToRem(16)
$btn-font-weight: bold

// blocks
$block-call-to-action-background: #F3F1F1
$block-call-to-action-color: $color-text
$block-call-to-action-button-background: $color-accent
$block-call-to-action-button-color: white
$block-call-to-action-button-hover-background: rgba($color-accent, 0.7)

$block-chapter-layout-accent-background: $color-background
$block-chapter-layout-accent-color: $color-text

$block-space-y-desktop: pxToRem(96)